.Login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(rgb(247, 244, 244), #5a7fa9);
  .container {
    background-color: #40648d;
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
    color: rgb(221, 221, 221);
    h1 {
      font-weight: 600;
      font-size: 35px;
    }
    .login-form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      justify-content: center;
      width: 70%;
      padding: 10px;
      input {
        padding: 10px;
        width: 100%;
        border: 1px solid gainsboro;
        border-radius: 4px;
        background-color: transparent;
        font-size: 18px;
        color: white;
        outline: none;
        &::placeholder {
          color: rgb(204, 203, 203);
        }
      }
      button {
        width: 100%;
        padding: 10px;
        border: none;
        outline: none;
        border-radius: 4px;
        background-color: #20344b;
        color: white;
      }

      /* CSS */
      .button-28 {
        background: #20344b;
        border: 1px solid #20344b;
        border-radius: 4px;
        box-shadow: inset 0 1px 0 #20344b;
        color: white;
        cursor: pointer;
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        outline: 0;
        padding: 10px 35px;
        text-decoration: none;
        text-shadow: 0 -1px 0 #20344b;
        background: linear-gradient(to bottom, #20344b 0%, #20344b 100%);
        transition: padding 50ms ease-in-out, border-top-width 50ms ease-in-out,
          box-shadow 150ms ease-in-out;
      }
      .button-28:hover {
        background: #20344b;
        background: linear-gradient(to bottom, #20344b 0%, #20344b 100%);
        box-shadow: inset 0 1px 0 #20344b, 0 0 10px #768fa8
      }
      .button-28:active {
        border-top-width: 2px;
        box-shadow: none;
        padding-bottom: 8px;
      }

      // margin-bottom: 20px;
    }
  }
}
