@import '../../style.scss';
.LeftBar{
   
    flex: 1;
    background-color:#385475;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    position: sticky;
    left: 0;
    top: 60px;
     @include mobile {
                display: none;
            }
   
    .item{
         padding: 10px 20px  ;
        display: flex;
        gap: 10px;
        align-items: center;
        &.active,&:hover{
            background-color: #0f2b4c;
        }
        img{
            height: 30px;
            width: 30px;

        }
        span{
            font-size: 18px;
            color: white;

        }
    }
}